@font-face {
  font-family: "Benzin-Medium";
  src: local("Benzin-Medium"),
    url("/benzin-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo-Regular";
  src: local("Archivo-Regular"), url("/Archivo-Regular.ttf") format("truetype")
}

* {
  font-family: Benzin-Medium;

}

.archivo-font {
  font-family: Archivo-Regular;
}

:root {
  font-family: Benzin-Medium;
  text-transform: uppercase;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* max-width: 1280px; */
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}